<?php include($_SERVER['DOCUMENT_ROOT'] . '/header.html'); ?>
<section>
	<div class="coffee">
		<img src="/images/baisen.jpg">
	</div>
</section>
<section>
<div class="cofepic-coffee">
		<h1>coffee beans</h1>
	<div class="beans">
		<ul class="pictures">
		<li class="pic pic1"><a href="pasta.html"><img src="/images/beean.jpg"><div class="text">オリジナルブレンド</div></a></li>
		<li class="pic"><a href="pasta.html"><img src="/images/beean.jpg"><div class="text">マンデリン</div></a></li>
		<li class="pic"><a href="pasta.html"><img src="/images/beean.jpg"><div class="text">ブラジル</div></a></li>
		</ul>
	</div>
	<div class="beans">
		<ul class="pictures">
		<li class="pic pic1"><a href="pasta.html"><img src="/images/beean.jpg"><div class="text">ブルーマンテン</div></a></li>
		<li class="pic"><a href="pasta.html"><img src="/images/beean.jpg"><div class="text">キリマンジャロ</div></a></li>
		<li class="pic"><a href="pasta.html"><img src="/images/beean.jpg"><div class="text">ブラジル</div></a></li>
		</ul>
	</div>
</div>
<div class="kodawari">
		<h1>quality</h1>

		<p class="speciall">コーヒーの風味を引き立てるために厳選した商品を使用しています。</p>
	<div class="beans">
		<ul class="pictures">
		<li class="pic"><a href="pasta.html"><img src="/images/milk.jpg"><div class="text">北海道産の牛乳</div></a></li>
		<li class="pic"><a href="pasta.html"><img src="/images/cake.jpg"><div class="text">沖縄産の黒砂糖</div></a></li>
		</ul>
	</div>


	<div class="beans">
		<ul class="pictures">
		<li class="pic"><a href="pasta.html"><img src="/images/syrup.jpg"><div class="text">アガベシロップ</div></a></li>
		<li class="pic"><a href="pasta.html"><img src="/images/honey.jpg"><div class="text">蜂蜜</div></a></li>
		</ul>
	</div>
</div>

</section>
</section>
<?php include($_SERVER['DOCUMENT_ROOT'] . '/footer.html'); ?>
</div>
</body>
<script type="text/javascript" src="/JS/top.js"></script>

</html>